# Ignore everything in $HOME folder
*


#################### Begin Excepting ####################

!LICENSE
!README.md

# .config folder
!.config

# Git
!.config/git
!.config/git/ignore
!.gitconfig
!.gitignore

# EditorConfig
!.editorconfig

# BAT
!.config/bat
!.config/bat/config

# direnv
!.config/direnv
!.config/direnv/direnv.toml

#fzf
!.config/fzf
!.config/fzf/config.zsh

# Ghostty
!.config/ghostty
!.config/ghostty/config

# GitHub CLI
!.config/gh
!.config/gh/config.yml

# Lazygit
!.config/lazygit
!.config/lazygit/config.yml

# mise
!.config/mise
!.config/mise/config.toml

# pip
!.config/pip
!.config/pip/pip.conf

# Python Poetry
!.config/pypoetry
!.config/pypoetry/config.toml

# Starship
!.config/starship
!.config/starship/config.toml

# Wave Terminal
!.config/waveterm
!.config/waveterm/settings.json
!.config/waveterm/widgets.json
!.config/waveterm/bookmarks.json

# Zed
!.config/zed
!.config/zed/settings.json

# Docker
!.docker
!.docker/daemon.json

# GnuPG
!.gnupg
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

# pyenv
!.pyenv
!.pyenv/version

# rbenv
!.rbenv
!.rbenv/version

# rustup
!.rustup
!.rustup/settings.toml

# SSH
!.ssh
!.ssh/config
!.ssh/hosts
!.ssh/hosts/github.com
!.ssh/hosts/github.com/config

# iTerm2
!.iterm2_shell_integration.zsh

# npm
!.npmrc

# Vim
!.vimrc

# Zsh
!.zshenv
!.zprofile
!.zshrc
!.zlogout

#################### End Excepting ####################
