# Ignore everything in $HOME folder
*


#################### Begin Excepting ####################

!LICENSE
!README.md

# .config folder
!.config

# Git
!.config/git
!.config/git/ignore
!.gitconfig
!.gitignore

# EditorConfig
!.editorconfig

# BAT
!.config/bat
!.config/bat/config

#################### End Excepting ####################
